.button-container {
  padding: 1rem 2rem 1rem 2rem;
  cursor: pointer;
  border: none;
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 0.5rem;
  background-color: $accent-color;
  color: $text-icons;
  transition: background .3s ease-in-out, box-shadow .2s ease-in-out;
  @include BoxShadow(3);
  &:hover {
    @include BoxShadow(12);
    background-color: $text-icons;
    color: $accent-color;
  }
  &:focus {
    @include BoxShadow(12);
    outline: 0px !important;
  }
}