.tasks-container {
  @extend %basic-grid-column;
  grid-row-gap: 3rem;
}

.tasks {
  width: 100%;
  display: grid;
  justify-items: center;
  grid-row-gap: 2rem;
  &-create-button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2rem;
  }
  &-list {
    width: 100%;
    &-item {
      list-style: none;
    }
  }
}
