.textarea-md-container {
  
}

.textarea-md-header {
  background-color: $light-primary-color;
  padding: 0.8rem 0.8rem 0 0.8rem;
  display: grid;
  align-items: end;
  grid-template-columns: repeat(2, 1fr);
}

.textarea-md-tab {
  display: block;
  padding: 0.8rem 1.6rem 0.8rem 1.6rem;
  cursor: pointer;
  font-size: 1.6rem;
  margin-bottom: -1px;
}

.textarea-md-markdown-wrapper {
  min-height: 10.8rem;
}

.textarea-md-markdown {
  font-size: 1.6rem;
}

.textarea-md-tab-selected {
  background-color: $text-icons !important;
  border-bottom: 1px solid $text-icons;
}

.textarea-md-content-container {
  padding: 0.8rem;
  border: 1px solid $divider-color;
}
