@import 'mixins';

// COLOR VARIABLES

$primary-color: #3F51B5;
$light-primary-color: #C5CAE9;
$dark-primary-color: #303F9F;
$accent-color: #FF4081;
$text-icons: #FFFFFF;
$primary-text: #212121;
$secondary-text: #757575;
$divider-color:#BDBDBD;

$gray-000:	#fafbfc;
$gray-100:	#f6f8fa;
$gray-900:	#24292e;

$blue-000:	#f1f8ff;
$blue-500:	#0366d6;

$green-100:	#dcffe4;
$green-500:	#28a745;

$purple-000:	#f5f0ff;
$purple-500:	#6f42c1;

$yellow-200:	#fff5b1;
$yellow-500:	#ffd33d;
$yellow-700:	#dbab09;

$orange-700:	#d15704;

$red-100:	#ffdce0;
$red-500:	#d73a49;

$pink-500:	#ea4aaa;

// FONT VARIABLES

$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;
$font-sidebar: 'Alegreya Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;

// RESPONSIVE BREAKPOINTS

$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px
$bp-xsmall: 25em; // 400px

// GRID

%basic-grid-column {
  display: grid;
  grid-template-columns: repeat(8, [col-start] minmax(min-content, 14rem) [col-end]);
}