.header {
  &-container {
    width: 100%;
    height: 53px;
  }
  &-user {
    display: flex;
    align-items: center;
    &-avatar {
      margin-right: 1rem;
    }
  }
  &-logo {
    font-size: 2rem;
    color: $text-icons;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
  }
  &-dropdown {
    &-item {
      color: $gray-900;
      cursor: pointer;
    }
  }
}











