.header-container {
  display: flex;
  width: $bp-largest;
  height: 10rem;
  justify-content: space-between;
}

.header-right-icons-container {
  display: grid;
  grid-template-columns: repeat(1, minmax(1rem, max-content));
  height: 100%;
  align-items: center;
}

.header-user-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(1rem, max-content));
  grid-column-gap: 2rem;
  align-items: center;
}

.header-user-name-text {
  font-size: 1.6rem;
  font-weight: 400;
  color: $text-icons;
}

.header-user-avatar {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
}


.header-logo {
  font-size: 3.2rem;
  color: $text-icons;
  margin-top: auto;
  margin-bottom: auto;
}