.sidebar-container {
  padding: 1.5rem;
  list-style: none;
}

.sidebar-item-link {
  display: block;
  text-decoration: none;
  font-size: 1.6rem;
  color: $primary-text;
  cursor: pointer;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 400;
  &:hover {
    // @include BoxShadow(3);
    margin: 0 -1.5rem 0 -1.5rem;
    padding: 1rem 1.5rem 1rem 1.5rem;
    background-color: $gray-900;
    color: $text-icons !important;
    font-weight: bold;
  }
}

.sidebar-item {
  
}