.sidebar-container {
  padding: 1.5rem;
  list-style: none;
}

.sidebar-item-link {
  display: block;
  text-decoration: none;
  font-size: 1.6rem;
  color: $primary-text;
  cursor: pointer;
  padding-top: 1rem;
  padding-bottom: 1rem;
  &:hover {
    margin: 0 -1.5rem 0 -1.5rem;
    padding: 1rem 1.5rem 1rem 1.5rem;
    background-color: $primary-color;
    color: $text-icons !important;
  }
}

.sidebar-item {
  
}